# Wrangling and Analysis project
> Authored by: **Abhishek Pandey** [LinkedIn](https://www.linkedin.com/in/abhishekpandeyit/) | [Twitter](https://twitter.com/PandeyJii_)

In [1]:
# Importing all required libraries
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
%matplotlib inline
import re
import requests #For gathering data from website
import seaborn as sns
from datetime import datetime
from functools import reduce

# Gathering Data

### This template to gather data from Twitter API is provided by [Udacity](www.Udacity.com). I am just using that template as mentioned in the Udacity workspace using my secret token and access tokens.

In [2]:
df_tweet = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/twitter-archive-enhanced-2.csv')

In [4]:
df_tweet.sort_values('timestamp')
df_tweet.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv' 
response = requests.get(url)
with open(os.path.join('image_predictions.tsv'), mode = 'wb') as file:
    file.write(response.content)

In [6]:
images = pd.read_csv('F:/Github_repo/Wrangle_Analyse_Dataset/image_predictions.tsv', sep = '\t')

In [8]:
#Download Tweepy status object based on Tweet ID and store in list
list_of_tweets = []
# Tweets that can't be found are saved in the list below:
cant_find_tweets_for_those_ids = []
for tweet_id in df_tweet['tweet_id']:   
    try:
        list_of_tweets.append(api.get_status(tweet_id))
    except Exception as e:
        cant_find_tweets_for_those_ids.append(tweet_id)

In [9]:
print("The list of tweets" ,len(list_of_tweets))
print("The list of tweets no found" , len(cant_find_tweets_for_those_ids))

The list of tweets 0
The list of tweets no found 2356

In [10]:
#Then in this code block we isolate the json part of each tweepy 
#status object that we have downloaded and we add them all into a list

my_list_of_dicts = []
for each_json_tweet in list_of_tweets:
    my_list_of_dicts.append(each_json_tweet)

In [12]:
#identify information of interest from JSON dictionaries in txt file
#and put it in a dataframe called tweet JSON
my_demo_list = []
with open('tweet-json.txt', encoding='utf-8') as json_file:  
    all_data = json.load(json_file)
    for each_dictionary in all_data:
        tweet_id = each_dictionary['id']
        whole_tweet = each_dictionary['text']
        only_url = whole_tweet[whole_tweet.find('https'):]
        favorite_count = each_dictionary['favorite_count']
        retweet_count = each_dictionary['retweet_count']
        followers_count = each_dictionary['user']['followers_count']
        friends_count = each_dictionary['user']['friends_count']
        whole_source = each_dictionary['source']
        only_device = whole_source[whole_source.find('rel="nofollow">') + 15:-4]
        source = only_device
        retweeted_status = each_dictionary['retweeted_status'] = each_dictionary.get('retweeted_status', 'Original tweet')
        if retweeted_status == 'Original tweet':
            url = only_url
        else:
            retweeted_status = 'This is a retweet'
            url = 'This is a retweet'

        my_demo_list.append({'tweet_id': str(tweet_id),
                             'favorite_count': int(favorite_count),
                             'retweet_count': int(retweet_count),
                             'followers_count': int(followers_count),
                             'friends_count': int(friends_count),
                             'url': url,
                             'source': source,
                             'retweeted_status': retweeted_status,
                            })
        tweet_json = pd.DataFrame(my_demo_list, columns = ['tweet_id', 'favorite_count','retweet_count', 
                                                           'followers_count', 'friends_count','source', 
                                                           'retweeted_status', 'url'])

JSONDecodeError: Extra data: line 2 column 1 (char 3974)

In [7]:
# Loading Twitter API data
df_new = pd.read_json('F:\\Github_repo\\Wrangle_Analyse_Dataset\\tweet-json.txt', encoding = 'utf-8', lines=True)

In [8]:
df_tweet.sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1171,720415127506415616,NaN,NaN,2016-04-14 00:55:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Garden's coming in nice this year. 10/10 https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/720415127...,10,10,None,None,None,None,None
855,764857477905154048,NaN,NaN,2016-08-14 16:13:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Aubie. He has paws for days. Nibbling ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/764857477...,12,10,Aubie,None,None,None,None
823,770069151037685760,NaN,NaN,2016-08-29 01:22:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Carbon. This is his first time sw...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/770069151...,10,10,Carbon,None,None,None,None

In [75]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [76]:
df_tweet['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [77]:
df_tweet['text'].value_counts()

This is Daisy. She has a heart on her butt. 13/10 topical af https://t.co/u6p4LxzHKg                                                            1
RT @dog_rates: This is Gidget. She's a spy pupper. Stealthy as h*ck. Must've slipped pup and got caught. 12/10 would forgive then pet httpsâ€¦    1
This is Misty. She has a cowboy hat on her nose. 12/10 https://t.co/Eno0mypHIr                                                                  1
This is Arlo. He's officially the king of snowy tongue slips. 13/10 would comfort during inevitable brain freeze https://t.co/oXVu9pNZZv        1
This is Fletcher. He's had a ruff night. No more Fireball for Fletcher. 8/10 it'll be over soon pupper https://t.co/tA4WpkI2cw                  1
                                                                                                                                               ..
We normally don't rate bears but this one seems nice. Her name is Thea. Appears rather fluffy. 10/10 good bear https://t.co/fZc7MixeeT          1
What an honor. 3 dogs here. Blond one is clearly a gymnast. Other two just confused. Very nifty pups. 9/10 for all https://t.co/YDgstgIDGs      1
This is a dog swinging. I really enjoyed it so I hope you all do as well. 11/10 https://t.co/Ozo9KHTRND                                         1
Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating        1
Meet Watson. He's a Suzuki Tickleboop. Leader of a notorious biker gang. Only one ear functional. 12/10 snuggable af https://t.co/R1gLc5vDqG    1
Name: text, Length: 2356, dtype: int64

In [78]:
df_tweet['retweeted_status_id'].value_counts()

7.757333e+17    1
7.507196e+17    1
6.742918e+17    1
6.833919e+17    1
8.269587e+17    1
               ..
7.848260e+17    1
7.806013e+17    1
8.305833e+17    1
7.047611e+17    1
7.331095e+17    1
Name: retweeted_status_id, Length: 181, dtype: int64

In [79]:
df_tweet['retweeted_status_user_id'].value_counts()

4.196984e+09    156
4.296832e+09      2
5.870972e+07      1
6.669901e+07      1
4.119842e+07      1
7.475543e+17      1
7.832140e+05      1
7.266347e+08      1
4.871977e+08      1
5.970642e+08      1
4.466750e+07      1
1.228326e+09      1
7.992370e+07      1
2.488557e+07      1
7.874618e+17      1
3.638908e+08      1
5.128045e+08      1
8.117408e+08      1
1.732729e+09      1
1.960740e+07      1
1.547674e+08      1
3.410211e+08      1
7.124572e+17      1
2.804798e+08      1
1.950368e+08      1
Name: retweeted_status_user_id, dtype: int64

In [80]:
df_tweet['retweeted_status_timestamp'].value_counts()

2017-06-08 03:32:35 +0000    1
2017-03-16 00:00:07 +0000    1
2016-09-02 18:03:10 +0000    1
2017-05-02 00:04:57 +0000    1
2017-02-16 23:23:38 +0000    1
                            ..
2016-10-06 15:49:14 +0000    1
2017-02-12 01:04:29 +0000    1
2016-10-13 23:23:56 +0000    1
2016-01-02 20:58:09 +0000    1
2016-12-12 16:16:49 +0000    1
Name: retweeted_status_timestamp, Length: 181, dtype: int64

In [81]:
df_tweet['expanded_urls'].value_counts()

https://twitter.com/dog_rates/status/809220051211603969/photo/1,https://twitter.com/dog_rates/status/809220051211603969/photo/1                                                                    2
https://twitter.com/dog_rates/status/782305867769217024/photo/1,https://twitter.com/dog_rates/status/782305867769217024/photo/1,https://twitter.com/dog_rates/status/782305867769217024/photo/1    2
https://twitter.com/dog_rates/status/694669722378485760/photo/1,https://twitter.com/dog_rates/status/694669722378485760/photo/1                                                                    2
https://twitter.com/dog_rates/status/773308824254029826/photo/1                                                                                                                                    2
https://www.gofundme.com/my-puppys-double-cataract-surgery,https://twitter.com/dog_rates/status/825026590719483904/photo/1,https://twitter.com/dog_rates/status/825026590719483904/photo/1         2
                                                                                                                                                                                                  ..
https://twitter.com/dog_rates/status/730573383004487680/photo/1,https://twitter.com/dog_rates/status/730573383004487680/photo/1,https://twitter.com/dog_rates/status/730573383004487680/photo/1    1
https://twitter.com/dog_rates/status/736225175608430592/photo/1                                                                                                                                    1
https://twitter.com/dog_rates/status/667832474953625600/photo/1                                                                                                                                    1
https://twitter.com/dog_rates/status/796031486298386433/photo/1                                                                                                                                    1
https://twitter.com/dog_rates/status/891815181378084864/photo/1                                                                                                                                    1
Name: expanded_urls, Length: 2218, dtype: int64

In [82]:
df_tweet['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [83]:
df_tweet['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [84]:
df_tweet['name'].value_counts()

None       745
a           55
Charlie     12
Cooper      11
Oliver      11
          ...
Dutch        1
Ralf         1
Cannon       1
Mark         1
Boots        1
Name: name, Length: 957, dtype: int64

In [85]:
df_tweet['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [86]:
df_tweet['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [87]:
df_tweet['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [88]:
df_tweet['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

In [89]:
df_tweet.loc[df_tweet['name'].str.isupper()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
775,776201521193218049,NaN,NaN,2016-09-14 23:30:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is O'Malley. That is how he sleeps. Doesn...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/776201521...,10,10,O,None,None,None,None
2041,671542985629241344,NaN,NaN,2015-12-01 04:14:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is JD (stands for ""just dog""). He's like ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/671542985...,10,10,JD,None,None,None,None

In [90]:
df_new.sample(10)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
125,2017-05-27 19:39:34+00:00,868552278524837888,868552278524837888,Say hello to Cooper. His expression is the sam...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 868552270358618113, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,10539,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
48,2017-07-06 00:46:41+00:00,882762694511734784,882762694511734784,This is Gus. He's quite the cheeky pupper. Alr...,False,"[0, 114]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 882762686299353088, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,28903,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2119,2015-11-28 01:08:55+00:00,670408998013820928,670408998013820928,This is Peanut. He was the World Table Tennis ...,False,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 670408991625773056, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,600,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1581,2016-01-13 02:43:46+00:00,687102708889812993,687102708889812992,Army of water dogs here. None of them know whe...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 687102703005265921, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,2571,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
798,2016-09-05 15:58:34+00:00,772826264096874500,772826264096874496,Meet Roosevelt. He's preparing for takeoff. Ma...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 772826251237199873, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,8842,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2183,2015-11-24 02:54:30+00:00,668986018524233728,668986018524233728,This is Ruby. She's a Bimmington Fettuccini. O...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 668986015319760896, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,578,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
919,2016-07-22 00:43:32+00:00,756288534030475264,756288534030475264,Here's a heartwarming scene of a single father...,False,"[0, 115]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 756288526673649665, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,28519,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
705,2016-10-10 17:32:08+00:00,785533386513321988,785533386513321984,This is Dallas. Her tongue is ridiculous. 11/1...,False,"[0, 63]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 785533378355396613, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,10183,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1484,2016-01-29 16:30:45+00:00,693109034023534592,693109034023534592,"""Thank you friend that was a swell petting"" 11...",False,"[0, 99]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 693108992730632192, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,1889,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1604,2016-01-09 03:40:16+00:00,685667379192414208,685667379192414208,This is Marty. He has no idea what happened he...,False,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 685667374155075584, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,2579,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [91]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(11)
memory usage: 505.9+ KB

In [92]:
df_new['tweet_id'].value_counts()

KeyError: 'tweet_id'

In [93]:
df_new['favorite_count'].value_counts()

0        179
610        3
345        3
2918       3
1691       3
        ...
33345      1
814        1
23108      1
2630       1
8143       1
Name: favorite_count, Length: 2007, dtype: int64

In [94]:
df_new['retweet_count'].value_counts()

1972     5
3652     5
83       5
146      4
61       4
        ..
8209     1
19       1
2068     1
30742    1
0        1
Name: retweet_count, Length: 1724, dtype: int64

In [95]:
images.sample(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1119,726224900189511680,https://pbs.twimg.com/media/ChQRsYaW0AETD7z.jpg,1,standard_poodle,0.261112,True,cocker_spaniel,0.094785,True,bucket,0.069946,False
1735,821765923262631936,https://pbs.twimg.com/media/C2d_vnHWEAE9phX.jpg,1,golden_retriever,0.980071,True,Labrador_retriever,0.008758,True,Saluki,0.001806,True

In [96]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [97]:
images['tweet_id'].value_counts()

685532292383666176    1
826598365270007810    1
692158366030913536    1
714606013974974464    1
715696743237730304    1
                     ..
816829038950027264    1
847971574464610304    1
713175907180089344    1
670338931251150849    1
700151421916807169    1
Name: tweet_id, Length: 2075, dtype: int64

In [98]:
images['jpg_url'].value_counts()

https://pbs.twimg.com/media/Ct72q9jWcAAhlnw.jpg    2
https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg    2
https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg    2
https://pbs.twimg.com/media/CiyHLocU4AI2pJu.jpg    2
https://pbs.twimg.com/media/CsVO7ljW8AAckRD.jpg    2
                                                  ..
https://pbs.twimg.com/media/Co88_ujWEAErCg7.jpg    1
https://pbs.twimg.com/media/Cs47N3eWcAEmgiW.jpg    1
https://pbs.twimg.com/media/C7JkO0rX0AErh7X.jpg    1
https://pbs.twimg.com/media/CVGjflNWoAEwgrQ.jpg    1
https://pbs.twimg.com/media/CbG_QRJXEAALVWy.jpg    1
Name: jpg_url, Length: 2009, dtype: int64

In [99]:
images['img_num'].value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [100]:
images['p1'].value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
bookcase                1
walking_stick           1
fiddler_crab            1
sundial                 1
starfish                1
Name: p1, Length: 378, dtype: int64

In [101]:
images['p1_conf'].value_counts()

0.366248    2
0.713293    2
0.375098    2
0.636169    2
0.611525    2
           ..
0.713102    1
0.765266    1
0.491022    1
0.905334    1
1.000000    1
Name: p1_conf, Length: 2006, dtype: int64

In [102]:
images['p1_dog'].value_counts()

True     1532
False     543
Name: p1_dog, dtype: int64

In [103]:
images['p2'].value_counts()

Labrador_retriever    104
golden_retriever       92
Cardigan               73
Chihuahua              44
Pomeranian             42
                     ...
sombrero                1
snail                   1
pier                    1
laptop                  1
lesser_panda            1
Name: p2, Length: 405, dtype: int64

In [104]:
images['p2_conf'].value_counts()

0.069362    3
0.027907    2
0.193654    2
0.271929    2
0.003143    2
           ..
0.138331    1
0.254884    1
0.090644    1
0.219323    1
0.016301    1
Name: p2_conf, Length: 2004, dtype: int64

In [105]:
images['p2_dog'].value_counts()

True     1553
False     522
Name: p2_dog, dtype: int64

In [106]:
images['p3'].value_counts()

Labrador_retriever    79
Chihuahua             58
golden_retriever      48
Eskimo_dog            38
kelpie                35
                      ..
valley                 1
hand_blower            1
meerkat                1
passenger_car          1
sea_cucumber           1
Name: p3, Length: 408, dtype: int64

In [107]:
images['p3_conf'].value_counts()

0.094759    2
0.035711    2
0.000428    2
0.044660    2
0.162084    2
           ..
0.024007    1
0.132820    1
0.002099    1
0.083643    1
0.033835    1
Name: p3_conf, Length: 2006, dtype: int64

In [108]:
images['p3_dog'].value_counts()

True     1499
False     576
Name: p3_dog, dtype: int64

# Data Cleaning

In [109]:
# Make copies of the dataframes for cleaning

twitter1_clean = df_tweet.copy()
twitter2_clean = df_new.copy()
images_clean = images.copy()

Twitter2 and images data must combined with twitter1 data as they contain information about the same tweet, therefore merging these 3 dataframes

In [110]:
'''
Merging twitter1, twitter2, and images dataframes with 'tweet_id''''
dfs = [twitter1_clean, twitter2_clean, images_clean]
twitter = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs)

SyntaxError: EOL while scanning string literal (<ipython-input-110-83242d0ba60c>, line 2)

In [111]:
twitter.head(2)

NameError: name 'twitter' is not defined

In [112]:
twitter.info()

NameError: name 'twitter' is not defined

### Find another issue i.e. 1 variable (dog stage) in 4 different columns (doggo, floofer, pupper, and puppo), to solve this issue extracting the dog stages from the 'text' column into the new 'dog_stage' column using regular expression then droping the 'doggo', 'floofer', 'pupper', and 'puppo' columns.  This also takes care of the quality issue of "name has values that are the string "None" instead of NaN".

In [113]:
twitter['dog_stage'] = twitter['text'].str.extract('(doggo|floofer|pupper|puppo)')

NameError: name 'twitter' is not defined

In [114]:
twitter[['dog_stage','doggo', 'floofer', 'pupper', 'puppo']].head(15)

NameError: name 'twitter' is not defined

In [115]:
twitter = twitter.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1) #Dropping the columns

NameError: name 'twitter' is not defined

In [116]:
twitter.info()

NameError: name 'twitter' is not defined

### Next issue needs to be readdressed is that data contains retweets. To solve this issue Rows where 'retweeted_status_id' is a NaN will be kept (ie. if it has a value it will be removed), then the 'retweeted_status_id', 'retweeted_status_user_id' and 'retweeted_status_timestamp' columns will be removed.

In [117]:
twitter = twitter[np.isnan(twitter.retweeted_status_id)]

print(twitter.info())

twitter = twitter.drop(['retweeted_status_id', 
                        'retweeted_status_user_id', 
                        'retweeted_status_timestamp'], 
                       axis=1)

NameError: name 'twitter' is not defined

In [118]:
twitter.info()

NameError: name 'twitter' is not defined

In [119]:
# casting tweet_id into string type
twitter['tweet_id'] = twitter['tweet_id'].astype(str)

NameError: name 'twitter' is not defined

In [120]:
twitter.info()

NameError: name 'twitter' is not defined

### 'timestamp' and 'retweeted_status_timestamp' are currently of type 'object' therefore Converting 'timestamp' to a datetime object ('retweeted_status_timestamp' was deleted)

In [121]:
twitter['timestamp'] = twitter['timestamp'].str.slice(start=0, stop=-6)

NameError: name 'twitter' is not defined

In [122]:
twitter['timestamp'] = pd.to_datetime(twitter['timestamp'], format = "%Y-%m-%d %H:%M:%S")

NameError: name 'twitter' is not defined

In [123]:
twitter.info()

NameError: name 'twitter' is not defined

### Here I found several issues
- 1. name has values that are the string "None" instead of NaN
- 2. Looking programmatically, some names are inaccurate such as "a", "an", "the", "very", "by", etc.  Looking visually in Excel, I was able to find more names that are inaccurate including "actually", "quite", "unacceptable", "mad", "not" and "old.  It seems like the method used to extract the names was using the word the followed "This is..." and "Here is..." which leads to some inaccuracies. 
- 3. I also found an instand of a name being "O" instead of "O'Malley"

In [124]:
'''Replacing all inaccurate names with NaNs, and the "O" with "O'Malley".Find all names that start with a lowercase letter'''
lowercase_names = []
for row in twitter['name']:
    if row[0].islower() and row not in lowercase_names:
        lowercase_names.append(row)
print(lowercase_names)

NameError: name 'twitter' is not defined

In [125]:
twitter['name'].replace(lowercase_names, 
                        np.nan,
                       inplace = True)

twitter['name'].replace('None', 
                        np.nan,
                       inplace = True)

twitter['name'].replace('O', 
                        "O'Malley",
                       inplace = True)

NameError: name 'twitter' is not defined

In [126]:
twitter['name'].value_counts()

NameError: name 'twitter' is not defined

### Find 1 more issue i.e.  Some ratings with decimals such as 13.5/10, 9.5/10 have been incorrectly exported as 5/10 (in addition to other numbers with decimals such as 11.26 and 11.27). therefore Finding all instances of ratings that contained decimals and replace the numerator values with the correct values.

In [127]:
'''
Obtain all text, indices, and ratings for tweets that contain a decimal in the numerator of rating
'''
ratings_with_decimals_text = []
ratings_with_decimals_index = []
ratings_with_decimals = []

for i, text in twitter['text'].iteritems():
    if bool(re.search('\d+\.\d+\/\d+', text)):
        ratings_with_decimals_text.append(text)
        ratings_with_decimals_index.append(i)
        ratings_with_decimals.append(re.search('\d+\.\d+', text).group())

# Print the text to confirm presence of ratings with decimals        
ratings_with_decimals_text

NameError: name 'twitter' is not defined

In [128]:
# Printing indexs of text with decimal ratings
ratings_with_decimals_index

[]

In [129]:
twitter.loc[ratings_with_decimals_index[0],'rating_numerator'] = float(ratings_with_decimals[0])
twitter.loc[ratings_with_decimals_index[1],'rating_numerator'] = float(ratings_with_decimals[1])
twitter.loc[ratings_with_decimals_index[2],'rating_numerator'] = float(ratings_with_decimals[2])
twitter.loc[ratings_with_decimals_index[3],'rating_numerator'] = float(ratings_with_decimals[3])

IndexError: list index out of range

In [130]:
twitter.loc[40] # Check contents of row with index 40 to ensure the rating is corrected

NameError: name 'twitter' is not defined

### For future analysis it could be confusing to interpret unstandardized ratings.  It is their gimmick to give dogs a rating of 100% but not all are above 100% so it could be interesting to see what percentage are below or above 100 and how this has been changed overtime by calculating a single value for rating, to solve this issue calulating the value of the numerator divided by the denominator and save this in a new column called 'rating'.

In [131]:
twitter['rating'] = twitter['rating_numerator'] / twitter['rating_denominator']

NameError: name 'twitter' is not defined

In [132]:
# Checking the presence of column and calculation
twitter.head(1)

NameError: name 'twitter' is not defined

There are many columns in this dataframe making it hard to read, and some will not be needed for analysis.  In addition some of the text in the table output is cut off.
<br>**Solution**: Drop undesired columns and change table display settings.

In [133]:
# Viewing all columns name
twitter.columns

NameError: name 'twitter' is not defined

In [134]:
twitter.rename(columns={'rating_numerator': 'numerator', 
                        'rating_denominator': 'denominator'}, inplace=True) #Shortning column names

'''
Droping unwanted columns
'''
twitter.drop(['in_reply_to_status_id', 
              'in_reply_to_user_id',
              'source',
              'img_num'], axis=1, inplace=True)

pd.set_option('display.max_columns', None)

NameError: name 'twitter' is not defined

In [135]:
#Confirming changes
twitter.head(1)

NameError: name 'twitter' is not defined

In [136]:
# Storing dataframe to a new file.
twitter.to_csv('twitter_archive_master.csv')

NameError: name 'twitter' is not defined

## Visualization

In [137]:
sns.lmplot(x="retweet_count", 
           y="favorite_count", 
           data=twitter,
           size = 5,
           aspect=1.3,
           scatter_kws={'alpha':1/5})
plt.title('Favorite Tweets vs. Retweet Count')
plt.xlabel('Retweet Count')
plt.ylabel('Favorite Count');

NameError: name 'twitter' is not defined

Graphs shows a strong positive correlation between Favorite and retweet counts.

In [138]:
twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;

NameError: name 'twitter' is not defined

### There are 3 outliers with a rating over 2

In [139]:
twitter.loc[twitter['rating'] > 2]

NameError: name 'twitter' is not defined

An inaccurate finding (rating of 24/7) found here at the first instance. I decided to leave this unfixed as we can easily ignore this. The other 2 tweets are accurate ratings i.e jokes. Thus I am interestedto find that if the tweets with a standardized rating below than 1, decrease over time or not, therefore I'm limiting the y axis from 0 to 2.

In [140]:
"""
Plotting standardized ratings over time with ylim of 0-2 to find accurate answers
"""

twitter.groupby('timestamp')['rating'].mean().plot(kind='line')
plt.ylim(0, 2)
plt.title('Rating over Time')
plt.xlabel('Time')
plt.ylabel('Standardized Rating')
plt.show;

NameError: name 'twitter' is not defined